*::-webkit-scrollbar-track {
    background-color: #ffffff;
}

*::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #1A73E8;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;

    padding-bottom: 60px;
    width: 100% !important;
}


/* Header styling */
header {
    background-color: #1a73e827;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.24);
    height: 130px;
    padding: 0px 2% 0px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 97%;
    z-index: 1000;
}


/* Navigation bar styling */

nav {
    width: 80%;
    padding-right: 2%;
}

/* Navigation links styling */
nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    column-gap: 5%;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    border-bottom: 0 solid transparent;
    transition: color 0.3s ease, border-bottom-width 0.3s ease;
}

nav ul li a:hover {
    color: #2ec6f5;
    border-bottom-width: 5px;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    transition: color 0.3s ease, border-bottom-width 0.3s ease;
    /* Add animation for border-bottom-width */
}

nav ul li a.active {
    border-bottom-width: 5px;
    border-bottom-color: #1A73E8;
    border-bottom-style: solid;
    /* Add border-style for the border properties to take effect */
}

/* Featured properties section */
.featured-properties {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Individual property styling */
.property {
    width: 20%;
    background-color: rgba(255, 255, 255, 0.788);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 30px;
}

.property img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: cover;
}


/* Hover effect for property cards */
.property:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Property details styling */
.property-details {
    padding: 20px;
    text-align: center;
}

.property-details h2 {
    font-size: 20px;
    margin: 10px 0;
    color: #1A73E8;
}

.property-details p {
    color: #666;
    margin-bottom: 20px;
    font-size: 16px;
}

.property-details button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #1A73E8;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

/* Hover effect for property buttons */
.property-details button:hover {
    background-color: #0A5FCE;
    /* Darker shade of blue */
}



/* Footer styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: #1a73e81c;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Responsive design adjustments */
@media (max-width: 992px) {
    .property {
        width: 45%;
    }

}

@media (max-width: 600px) {
    .property {
        width: 100%;
    }

}

.videodive {
    z-index: -2;
    /* Place the video behind other content */
    position: fixed;
    /* Fixed positioning for a full-page background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the video covers the entire background */
    pointer-events: none;
    /* Prevent interaction with the video */
}

.videocover {
    z-index: -1;
    /* Place the video behind other content */
    position: fixed;
    /* Fixed positioning for a full-page background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #17727938;
    object-fit: cover;
    /* Ensure the video covers the entire background */
    pointer-events: none;
    /* Prevent interaction with the video */
}